
<% content_for :toolbar_col_1 do %>
<div class="mt-2 mb-2">
  <div class="">
    <%= link_to games_path, method: :post, class: 'btn btn-default' do %>
      New Game
    <% end %>
  </div>
</div>
<% end %>
<div data-controller="games"  id='games' data-reflex-root='#games'>
  <div class="shadow mt-2 mb-4">
    <div class="">
      <%= render 'shared/index_page_top', edit_instance: nil, reflex: "ApplicationReflex", query: @query, hide_new: true, hide_search: true %>
      <div class="">
        <%= render "table", games: @games, reflex_name: "ApplicationReflex" %>
      </div>
    </div>
    <div class="">
      <%= render "shared/index_page_paginator", pagy: @pagy, reflex: "ApplicationReflex" %>
    </div>
  </div>
</div>

